
/* 基本設定
   =================================================================== */
   @font-face {
	font-family: "myFont";
	src: url(../fonts/komorebi-gothic-P.eot) format('eot'),
		 url(../fonts/komorebi-gothic-P.woff) format('woff');
  }

body{	
	font-family: myFont,'Kosugi Maru', sans-serif;
}


h3 {
	font-size: 20px;
}

p{
	line-height: 1.7;
}

.commom_container{
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color: #707070;
}

/* hero設定
   =================================================================== */

#hero {
	position: relative;
	margin: auto;
	background-image: url(../img/top/top.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 750px;
}

form {
	box-sizing: border-box;
  	position: absolute;
	top:25%;
	left:50%;
	transform: translate(-50%,-50%);
	border: 3px #000000 solid;
	padding: 3px 10px;
	border-radius: 36px;
	height: 71px;
	width: 300px;
	background: #FFFFFF;
	text-align: left;
}

form input[type="text"]{
	position:absolute;
	border: none;
	font-size: 20px;
	height: 1em;
	width: 250px;
	top:22px;
	left: 40px;
  }
  
form input[type="text"]:focus {
	outline: 0;
  }
form input[type="submit"]{
	cursor: pointer;
	font-family: FontAwesome;
	font-size: 24px;
	border: none;
	background: none;
	color: #000000;
	position: absolute;
	width: 2em;
	height: 2em;
	top: 9px;
	right: 28px;
	outline : none;
  }

/* HeroConcept 設定
   =================================================================== */

.HeroConcept{
	position: absolute;
	background: url(../img/top/concept_leaf.png) no-repeat;
	background-size: contain;
	background-position: center center;
	width: 220px;
	height: 150px;
	bottom: 0;
	right: 0;
}

.HeroConcept:hover{
	background: url(../img/top/concept_leaf_hover.png) no-repeat;
	background-size: contain;
	background-position: center center;
}

.HeroConcept p {
	position: absolute;
	font-size: 20px;
	color: #FFFFFF;
	top: 66px;
	right: 50px;
}

/* content block 設定
   =================================================================== */

.content__title{
	position: relative;
	margin: 50px auto;
	width: 60%;
}

.content__title > h2 {
	padding-top: 10px;
	font-size: 26px;	
}

.content__title > p {
	padding-top: 10px;
	font-size: 16px;
}

.content__title .left{
	position: absolute;
	top: 0;
	left:0;
	height: 100%;

}
.content__title .right{
	position: absolute;
	top:0;
	right:0;
	height: 100%;
}


/* ShopList設定
   =================================================================== */

.ShopList{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	text-align: center;
	margin: auto;
	width: 80%;
}

.ShopList div.ShopName{
	position: relative;
	background: url(../img/top/shop_bk.png) no-repeat;
	background-size: contain;
	height: 150px;
	width: 100%;
	top: -25px;
}

.ShopList div.ShopName:hover{
	position: relative;
	background: url(../img/top/shop_bk_hover.png) no-repeat;
	background-size: contain;
	height: 150px;
	width: 100%;
	top: -25px;
}

.ShopList .left img{
	position: absolute;
	display: block;
	height: 92%;
	width: 92%;
	top: 4%;
	left: 4%;
	-webkit-mask-image: url(../img/top/mask_left.png);
	-webkit-mask-size:contain;	
	-webkit-mask-position: center;
	mask-image: url(../img/top/mask_left.png);
	mask-size: contain;
	mask-position: center;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

.ShopList div.left{
	position: relative;
	width: 100%;
	height: 320px;
	background-image: url(../img/top/mask_left_pass.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 10;	
}

.ShopList .center img{
	position: absolute;
	display: block;
	height: 92%;
	width: 92%;
	top: 4%;
	left: 4%;
	-webkit-mask-image: url(../img/top/mask_center.png);
	-webkit-mask-size:contain;	
	-webkit-mask-position: center;
	mask-image: url(../img/top/mask_center.png);
	mask-size: contain;
	mask-position: center;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

.ShopList div.center{
	position: relative;
	width: 100%;
	height: 300px;
	background-image: url(../img/top/mask_center_pass.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 10;	
}

.ShopList .right img{
	position: absolute;
	display: block;
	height: 92%;
	width: 92%;
	top: 4%;
	left: 3%;
	-webkit-mask-image: url(../img/top/mask_right.png);
	-webkit-mask-size:contain;	
	-webkit-mask-position: center;
	mask-image: url(../img/top/mask_right.png);
	mask-size: contain;
	mask-position: center;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

.ShopList div.right{
	position: relative;
	width: 100%;
	height: 300px;
	background-image: url(../img/top/mask_right_pass.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 10;	
}

.ShopList p {
	position: absolute;
	width: 100%;
	top:15px;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	color: #707070;
	line-height: 1.7;
}

.ShopList > li {
	width: 30%;
  }

  .ShopList li > div {
	  height: 50%;
  }

/* SearchWord 設定
   =================================================================== */

.SearchWord{
	display: flex;
	position: absolute;
	top:23%;
	left:10%;
	transform: translate(-23%,-10%);
	justify-content: flex-start;
}

.SearchWord li{
	position: relative;
	width: 100px;
	height: 36px;
	border-radius: 18px;
	background: #D6D6D6;
	text-decoration: none;
	font-size: 14px;
	margin-right: 5px;
}

.SearchWord li p{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

/* ShopList--modifier設定
   =================================================================== */

.ShopList--modifier{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: center;
	margin:  125px auto;
	width: 100%;
	padding-inline-start: 0;
}

.ShopList--modifier a {
	text-decoration: none;
	color: #707070;
}

.ShopList--modifier a:hover {
	text-decoration: none;
	color: #A3A3A3;
}

.ShopList--modifier p{
	font-size: 16px;
}

.ShopList--modifier .ShopImg img{
	position: absolute;
	display: block;
	height: 92%;
	width: 92%;
	top: 4%;
	left: 4%;
	-webkit-mask-image: url(../img/result/result_mask.png);
	-webkit-mask-size:contain;	
	-webkit-mask-position: center;
	mask-image: url(../img/result/result_mask.png);
	mask-size: contain;
	mask-position: center;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

.ShopList--modifier div.ShopImg{
	position: relative;
	width: 100%;
	height: 220px;
	background-image: url(../img/result/result_mask_pass.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 10;	
}

.ShopList--modifier > li {
	width: 50%;
  }

  .ShopList--modifier li > div {
	  height: 50%;
  }

/* ConceptContent 設定
   =================================================================== */


.ConceptContent h3:first-letter {
	font-size: 62px;
}

.ConceptContent_reverce h3:first-letter {
	font-size: 62px;
}

.ConceptContent {
	display: flex;
	justify-content: space-between;
	margin: 100px auto;
	width: 80%;
}

.ConceptContent img {
	width: 65%;
}

.ConceptContent div {
	position: relative;
	width: 100%;

}

.ConceptContent div > img.sub{
	position: absolute;
	width: 30%;
	left: 20%;
	bottom: 0%;
}

.ConceptContent div > img.sub_2{
	position: absolute;
	width: 50%;
	left: 20%;
	bottom: 0%;
}

.ConceptContent div > p{
	position: absolute;
	width: 40%;
	top: 30%;
	left: 35%;
	font-size: 14px;
	text-align: left;
	line-height: 1.7;
}

.ConceptContent_reverce {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	margin: 100px auto;
	width: 80%;
}

.ConceptContent_reverce img {
	width: 65%;
}

.ConceptContent_reverce div {
	position: relative;
	width: 100%;

}

.ConceptContent_reverce div > img.sub{
	position: absolute;
	width: 30%;
	right: 20%;
	bottom: 0%;
}

.ConceptContent_reverce div > p{
	position: absolute;
	width: 40%;
	top: 30%;
	left: 35%;
	font-size: 14px;
	text-align: left;
	line-height: 1.7;
}

.btn {
	position: relative;
    display: inline-block;
	width: 330px;
	border-radius: 64px;
	margin: 30px auto 90px auto;
	background: #22b573;
	text-decoration: none;
}

.btn:hover{
	background-color: #2BC781;
}

.btn a{
	display: block;
	font-size: 20px;
	padding: 22px 3px 20px 6px;
	color: #FFFFFF;
	text-decoration: none;
	width: 100%;
}

/* footer 設定
   =================================================================== */


footer {
		width: 80%;
		margin: 0 auto;
		display:block;
		z-index: 10;
}

footer ul li {
	display: inline;
}

footer a {
	text-decoration: none;
	color: #707070;
}

footer a:hover{
	text-decoration: none;
	color: #A3A3A3;
}

