/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}


/* top設定
   =================================================================== */
body{
	font-family: 'Kosugi Maru', sans-serif;
	text-align:center;
}

/* hero設定
   =================================================================== */

.hero {
	position: relative;
	background: url(../img/top/top.png) no-repeat;
	width: 1823.15px;
	height: 1006.36px;
}

.hero_field{
	box-sizing: border-box;
  	position: absolute;
	top:50%;
	left:50%;
	border: 6px black solid;
	padding: 3px 10px;
	border-radius: 45px;
	height: 90px;
	width: 435.15px;
	background: white;
}

.hero_field input[type="text"]{
	position: absolute;
	border: none;
	font-size: 30px;
	width: 270px;
	height: 40px;
	left: 37px;
	top: 20px;
  }
.hero_field input[type="text"]:focus {
	outline: 0;
  }
.hero_field input[type="submit"]{
	cursor: pointer;
	font-family: FontAwesome;
	font-size: 30px;
	border: none;
	background: none;
	color: black;
	position: absolute;
	width: 2.5em;
	height: 2.5em;
	right: 37px;
	top: 5px;
	outline : none;
  }

.hero_concept{
	position: absolute;
	background: url(../img/top/concept_leaf.png) no-repeat;
	width: 291px;
	height: 291px;
	top: 80%;
	left: 85%;
}

.hero_concept a {
	position: absolute;
	font-size: 30px;
	color: white;
	top: 50%;
	left: 25%;
}
/* shop_list設定
   =================================================================== */

.shop_list{
	display: flex;
	flex-direction: row;
}

/* concept 設定
   =================================================================== */


.contents {
	text-align: center;
}

.concept_content {
	display: flex;
	flex-direction: row;
}



.concept_content--modifier {
	display: flex;
	flex-direction: row-reverse;
}

.btn {
    display: inline-block;
    padding: 7px 20px;
	border-radius: 25px;
    text-decoration: none;
    color: white;
	background:green;
    transition: .4s;
}

.btn:hover {
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}

/* footer 設定
   =================================================================== */


footer {
		width: 80%;
		margin: 0 auto;
		display:block;
		
}

footer ul li {
	display: inline;
}

footer a {
	color:grey;
text-decoration: none;
}

