/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}


/* body設定
   =================================================================== */
body{
	font-family: 'Kosugi Maru', sans-serif;
	text-align:center;
	width: 1920px;
}

/* hero設定
   =================================================================== */

.hero {
	position: relative;
	margin: auto;
	background: url(../img/top/top.png) no-repeat;
	width: 1823.15px;
	height: 1006.36px;
}

.hero_field {
	box-sizing: border-box;
  	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	border: 6px black solid;
	padding: 3px 10px;
	border-radius: 45px;
	height: 90px;
	width: 435.15px;
	background: white;
}

.hero_field input[type="text"]{
	position: absolute;
	border: none;
	font-size: 30px;
	width: 270px;
	height: 40px;
	left: 37px;
	top: 20px;
  }
.hero_field input[type="text"]:focus {
	outline: 0;
  }
.hero_field input[type="submit"]{
	cursor: pointer;
	font-family: FontAwesome;
	font-size: 30px;
	border: none;
	background: none;
	color: black;
	position: absolute;
	width: 2.5em;
	height: 2.5em;
	right: 37px;
	top: 5px;
	outline : none;
  }

  

/* title 設定
   =================================================================== */

.title{
	position: relative;
	margin: 200px auto;
	width: 1494.66px;
	height: 260.67px;

}

.title h2 {
	padding-top: 30px;
	font-size: 60px;	
}

.title p {
	padding-top: 30px;
	font-size: 40px;
}

.title_left{
	position: absolute;
	top:0;
	left:0;

}
.title_right{
	position: absolute;
	top:0;
	right:0;
}

/* concept 設定
   =================================================================== */

.concept h3{
	font-size:50px;
}
.concept p{
	font-size: 30px;
}

.hero_concept{
	position: absolute;
	background: url(../img/top/concept_leaf.png) no-repeat;
	width: 291px;
	height: 291px;
	top: 80%;
	left: 85%;
}

.hero_concept a {
	position: absolute;
	font-size: 30px;
	color: white;
	top: 50%;
	left: 25%;
}
/* shop_list設定
   =================================================================== */

.shop_list{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.shop_list div {
	position: relative;
	background: url(../img/top/shop_bk.png) no-repeat;
	width: 406.78px;
	height: 127.97px;
}

.shop_list span {
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 30px;
	color: black;
	text-decoration: none;
}

/* concept 設定
   =================================================================== */


.concept {
	text-align: center;
}

.concept p {
	padding: 170px 0;
}

.concept .title p{
	padding-top: 30px;
}

.concept_content div {
	width: 620px;
	margin: 0 90px;
}

.concept_content--modifier div {
	width: 620px;
	margin: 0 90px;
}

.concept_content {
	display: flex;
	flex-direction: row;
	margin: 100px auto;
	width: 1410.97px;
	height: 805.19px;
}



.concept_content--modifier {
	display: flex;
	flex-direction: row-reverse;
	margin: 100px auto;
	width: 1410.97px;
	height: 805.19px;
}

.btn {
	position: relative;
    display: inline-block;
	border-radius: 45px;
	width: 506px;
	height: 90px;
	background: #22b573;
	text-decoration: none;
	margin-bottom: 100px;
}

.btn a{
	position: absolute;
	font-size: 30px;
	color: white;
	text-decoration: none;
	width: 386px;
	height: 30px;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
}



/* footer 設定
   =================================================================== */


footer {
		width: 80%;
		margin: 0 auto;
		display:block;
		
}

footer ul li {
	display: inline;
}

footer a {
	color:grey;
	text-decoration: none;
}

